header {
    background-color: #333333;
    /* height: 20px; */
    color: #f7f7f7;
    padding: 10px;
    text-align: center;
    margin: 0;
}

h3 {
    margin-left: 10px;
}

.searchHistory {
    background-color: #dbdbdb;
    height: 100vh
    
}

.otherSpace {
    background-color: #f7f7f7;
}

.icon-flavor {
    color: white;
}

.uv-style {
    border-radius: .25em;
    height: 2 em;
    width: 10px;
}

#input-flavor {
    margin-left: 10px;
}

#button-search {
    border: none;
}